.App {
  text-align: center;
  font-size: 12px;
}

.smallchampcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  min-width: 110px;
  transition: transform 100ms ease-in;
  user-select: none;
}

.smallchampcard p {
  margin: 5px;
}

.smallchampcard:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.smallchampcard:hover > .scimg {
  border-color: violet;
  box-shadow: 0 0 10px violet;
}

.filterbar {
  display: flex;
  justify-content: center;
}

.searchicon:hover {
  transform: scale(1.05);
}

.sclistcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.largechampioncard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 330px;
  margin: 15px;
  user-select: none;
}

.largecardborder {
  border: 5px solid;
  border-image: linear-gradient(45deg, red, violet) 1;
}

.largecardplaceholder {
  width: 150px;
  height: 300px;
  background: rgb(101, 101, 101);
  background: linear-gradient(
    90deg,
    rgba(101, 101, 101, 1) 0%,
    rgba(181, 181, 181, 1) 50%,
    rgba(101, 101, 101, 1) 100%
  );
}

.largechampioncard span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.starbutton {
  margin-left: 25px;
  background-color: gold;
}

.sb:hover {
  transform: scale(1.1);
}

.smallchamplist {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
  overflow-x: auto;
}

.sclistempty {
  height: 120px;
}

.skincard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  user-select: none;
}

.skincard:last-child {
  margin-bottom: 0;
}

.skincard:hover {
  cursor: pointer;
}

.skincard p {
  padding-left: 15px;
  text-align: left;
}

.skincard p:hover {
  transform: scale(1.02);
}

.ownedskin {
  background-color: #5a5a5a;
}

.ownedskin p {
  font-weight: bold;
}

.unownedskin img {
  filter: grayscale(100%);
}

.skinlistcontainer {
  display: flex;
  flex-direction: column;
  height: 330px;
  width: 300px;
  margin-top: 15px;
  user-select: none;
}

.skinlistscrollable {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.skinlistscrollable:only-child {
  justify-content: center;
}

.tricolumn {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 360px;
}

.randombutton {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  margin: 0 auto 0 auto;
}

.randombutton:hover {
  transform: scale(1.02);
}

.randombutton h2 {
  padding-left: 5px;
  font-family: 'Alumni';
  letter-spacing: 1px;
}

.rbenabled {
  background: linear-gradient(45deg, red, violet);
  border-color: indigo;
  border-style: double;
}

.rbdisabled {
  background-color: grey;
  opacity: 25%;
}

.rbdisabled h3 {
  color: inherit;
}

.skinlistplaceholdercontainer {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.skinlistplaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 258px;
  margin-top: 24px;
}

.emptyskinlistmessage {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  user-select: none;
}

.headertitle {
  font-family: 'Alumni';
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0;
}

.headerhighlighted {
  color: violet;
}

.slcontainertext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.invis {
  opacity: 0;
}

.drawercontainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
}

.defaults-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.defaults-content p {
  padding: 0 20px 0 20px;
  user-select: none;
}

.drawericon:hover {
  cursor: pointer;
}

.drawer-favorite-title {
  text-align: center;
  user-select: none;
  margin-bottom: 20px;
}

.drawer-favorites-container {
  display: flex;
  flex-direction: column;
  height: 480px;
}

.drawer-favorites-container .smallchampcard {
  flex-direction: row;
  justify-content: left;
  margin-left: 20px;
  min-height: 70px;
}

.drawer-favorites-container .smallchampcard p {
  padding-left: 10px;
}

.drawer-favorites-container .smallchampcard:hover {
  transform: none;
}

.drawer-favorites-scrollable {
  overflow-y: auto;
  height: 100%;
}

.drawer-favorites-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 72.5vh;
}

.drawer-favorites-empty p {
  font-size: 12px;
  color: rgb(145, 143, 143);
  padding: 0 2.5em 0 2.5em;
}

.sidebar-bottom-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto;
  padding: 15px 0;
}

.tooltiptext span {
  color: gold;
}

.reset-button {
  height: 40px;
}

@keyframes flash {
  0%,
  100% {
    text-shadow: none;
  }
  10% {
    text-shadow: 0 0 10px #fff, 0 0 15px red, 0 0 25px violet, 0 0 15px red;
  }
  70% {
    text-shadow: 0 0 10px #fff, 0 0 15px violet, 0 0 25px red, 0 0 15px violet;
  }
  100% {
    text-shadow: none;
  }
}

.skin-title {
  animation: flash 700ms 1 ease-out;
}
